# 大模型 API 配置
LLM_API_KEY=
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL=qwen-plus

# MCP Server 配置
PYTHON_PATH=D:/adaconda/envs/agent/python.exe
MCP_SERVER_PATH=d:/12306查票助手智能体/12306_mcp.py
